In [26]:
import pandas as pd


TechElec=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='TechElec')
Beauty=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='Beauty')
Food=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='Food')
Deco=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='Deco')
Homeliving=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='Homeliving')
Leisure=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='Leisure')
Sports=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='Sports')
Pet=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='Pet')
Fashion=pd.read_excel('(1)StocksbyCategories.xlsx',sheet_name='Fashion')
total=pd.read_excel('total_data1_category.xlsx')


categories=[TechElec,Beauty,Food,Deco,Homeliving,Leisure,Sports,Pet,Fashion]

TechElec1=TechElec
Beauty1=Beauty
Food1=Food
Deco1=Deco
Homeliving1=Homeliving
Leisure1=Leisure
Sports1=Sports
Pet1=Pet
Fashion1=Fashion

categories1=[TechElec1,Beauty1,Food1,Deco1,Homeliving1,Leisure1,Sports1,Pet1,Fashion1]

In [27]:
def mk_avg(df):
    df_clmn = df.columns
    new_ls = []
    for _ in range(1,len(df_clmn)):
        ls = list(df[df_clmn[_]])
        avg_value = (sum(ls)-max(ls)-min(ls)) / (len(ls)-2)
        new_ls.append(avg_value)
    new_row = pd.DataFrame([new_ls], columns = df_clmn[1:])
    result = pd.concat([df,new_row])
    return result

In [44]:
col=['18Q1PER','18Q2PER','18Q3PER','18Q4PER','19Q1PER','18Q1PBR','18Q2PBR','18Q3PBR','18Q4PBR','19Q1PBR',\
                                '18Q1ROE','18Q2ROE','18Q3ROE','18Q4ROE','19Q1ROE','18Q1EBIT','18Q2EBIT','18Q3EBIT','18Q4EBIT','19Q1EBIT']
fste=pd.DataFrame(mk_avg(TechElec),columns=col)
fsbt=pd.DataFrame(mk_avg(Beauty),columns=col)
fsfd = pd.DataFrame(mk_avg(Food),columns=col)
fsdc = pd.DataFrame(mk_avg(Deco),columns=col)
fsfs = pd.DataFrame(mk_avg(Fashion),columns=col)
fshl =pd.DataFrame(mk_avg(Homeliving),columns=col)
fsls = pd.DataFrame(mk_avg(Leisure),columns=col)
fssp = pd.DataFrame(mk_avg(Sports),columns=col)
fspt = pd.DataFrame(mk_avg(Pet),columns=col)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [74]:
#per 평균 row 생성
teper=fste.iloc[-1:,0:5]
btper=fsbt.iloc[-1:,0:5]
fdper=fsfd.iloc[-1:,0:5]
dcper=fsdc.iloc[-1:,0:5]
hlper=fshl.iloc[-1:,0:5]
lsper=fsls.iloc[-1:,0:5]
spper=fssp.iloc[-1:,0:5]
ptper=fspt.iloc[-1:,0:5]
fsper=fsfs.iloc[-1:,0:5]
pers=pd.concat([teper,btper,fdper,dcper,hlper,lsper,spper,ptper,fsper],axis=0)
pers

     18Q1PER    18Q2PER    18Q3PER    18Q4PER    19Q1PER
0   9.503333  14.160000   6.350000   6.110000   8.313333
0  28.575714  31.247143  17.595714  17.294286  20.958571
0  23.014000  24.359333  25.317333  25.794333  34.461333
0  12.680769  14.633077  14.103077  10.540769  -0.600769
0   8.522500  25.470000  23.607500  13.487500  32.895000
0  45.570000   5.963333  11.626667  -7.436667  -7.023333
0  16.341538  15.009231  20.660769  13.653077  13.293846
0  14.960000  15.090000  18.200000  13.740000  12.140000
0   3.052564   8.908462  12.867179  26.730000   4.919231

In [77]:
#pbr 평균 row 생성
tepbr=fste.iloc[-1:,5:10]
btpbr=fsbt.iloc[-1:,5:10]
fdpbr=fsfd.iloc[-1:,5:10]
dcpbr=fsdc.iloc[-1:,5:10]
hlpbr=fshl.iloc[-1:,5:10]
lspbr=fsls.iloc[-1:,5:10]
sppbr=fssp.iloc[-1:,5:10]
ptpbr=fspt.iloc[-1:,5:10]
fspbr=fsfs.iloc[-1:,5:10]
pbrs=pd.concat([tepbr,btpbr,fdpbr,dcpbr,hlpbr,lspbr,sppbr,ptpbr,fspbr],axis=0)
pbrs

    18Q1PBR   18Q2PBR   18Q3PBR   18Q4PBR   19Q1PBR
0  1.363333  1.230000  1.126667  0.920000  1.060000
0  3.907143  3.625714  3.278571  2.551429  2.744286
0  1.318333  1.395667  1.249333  1.062333  1.138667
0  1.122308  1.196154  1.305385  1.076154  1.256923
0  2.595000  2.072500  1.812500  1.515000  1.680000
0  1.966667  2.076667  1.853333  1.776667  1.553333
0  1.437692  1.394615  1.458462  1.262308  1.354615
0  1.010000  0.960000  0.950000  0.790000  0.940000
0  1.065897  1.162051  1.211282  0.947179  1.088462

In [78]:
#roe 평균 row 생성
teroe=fste.iloc[-1:,10:15]
btroe=fsbt.iloc[-1:,10:15]
fdroe=fsfd.iloc[-1:,10:15]
dcroe=fsdc.iloc[-1:,10:15]
hlroe=fshl.iloc[-1:,10:15]
lsroe=fsls.iloc[-1:,10:15]
sproe=fssp.iloc[-1:,10:15]
ptroe=fspt.iloc[-1:,10:15]
fsroe=fsfs.iloc[-1:,10:15]
roes=pd.concat([teroe,btroe,fdroe,dcroe,hlroe,lsroe,sproe,ptroe,fsroe],axis=0)
roes

     18Q1ROE    18Q2ROE    18Q3ROE    18Q4ROE    19Q1ROE
0  14.466667  12.583333  12.876667  11.570000   9.716667
0   6.342857   6.184286   5.307143   5.090000   3.588571
0   9.276333   9.643667   8.784000   6.867333   6.075667
0   3.486923   3.014615   3.168462   1.292308   1.627692
0   5.142500   7.757500   7.845000   9.810000   9.427500
0   5.546667   3.526667   7.456667  -9.786667 -12.730000
0   5.602308   7.236923   5.328462   6.898462   8.010769
0   9.870000   5.710000   4.940000   4.340000   1.960000
0   1.626410   1.319744   1.203846  -0.055128   0.500769

In [79]:
#ebit평균 row 생성
teebit=fste.iloc[-1:,15:20]
btebit=fsbt.iloc[-1:,15:20]
fdebit=fsfd.iloc[-1:,15:20]
dcebit=fsdc.iloc[-1:,15:20]
hlebit=fshl.iloc[-1:,15:20]
lsebit=fsls.iloc[-1:,15:20]
spebit=fssp.iloc[-1:,15:20]
ptebit=fspt.iloc[-1:,15:20]
fsebit=fsfs.iloc[-1:,15:20]
ebits=pd.concat([teebit,btebit,fdebit,dcebit,hlebit,lsebit,spebit,ptebit,fsebit],axis=0)
ebits

       18Q1EBIT      18Q2EBIT      18Q3EBIT      18Q4EBIT     19Q1EBIT
0  18490.333333  21659.000000  24875.666667  16527.000000  7953.000000
0    778.571429    512.571429    279.000000    104.428571   610.142857
0    116.833333    120.166667    126.367000     68.266667   116.633333
0     96.000000    116.846154    111.000000    136.307692   115.230769
0     48.500000     63.250000     43.000000     43.500000    46.000000
0    804.000000    259.000000   1017.666667     19.333333   536.666667
0    151.615385    180.307692    170.461538    163.461538   151.384615
0     54.000000     71.000000     71.000000     21.000000    42.000000
0     47.948718     64.820769     67.974359     68.590000    58.538462